body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

#buttonContainer {
	display: flex;
	gap: 10px;
}

#imageContainer {
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	background-color: #f0f0f0;
	margin-top: 10px;
}

#previewImage {
	max-width: 100%;
	max-height: 100%;
	display: none;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#showImage {
	width: 100%;
	margin-top: 10px;
}

#showResultsBtn {
	width: 100%;
	margin-top: 10px;
}

#results {
	position: relative;
	width: 300px;
	height: 50px;
	margin-top: 10px;
}